h1 {
    background-color: #7398c4;
    padding: 5px;

}

nav {
    background-color: #88a7d0;
    padding: 5px;
}

section {
    background-color: #a6bddc;
    margin-top: 20px;
    padding: 5px;
}

button {
    margin-top: 20px;
    font-weight: bold;

}

#volver_inicio{
    background-color: #a1cbff;
    border: none;
}

#volver_inicio:hover{
    background-color: #61a8ff;
}