body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: rgb(65, 62, 255);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: rgb(6, 226, 255);

}