@font-face {
    font-family: 'Magenta';
    src: url('imagenes/Magenta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Magenta', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(65, 62, 255);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: rgb(6, 226, 255);

}